#content {
    width: 85%;
    border: 2px solid #999999;
    margin: auto;
}
body {
    background-color: #eeeeee;
}
a {
    text-decoration: none;
    color: #167ac6;
}

#main-content > section > section,
#main-content > section > article {
    border: 1px solid #ccc;
}

/* Navbar */
nav {
    background-color: white;
    padding: 0.75em 2em;
}
nav * {
    vertical-align: middle;
}
#nav {
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 12fr 4fr;
    grid-template-rows: auto;
    grid-template-areas: "nav-left-logo search nav-right-buttons";
}
#nav-left-logo {
    grid-area: nav-left-logo;
}
#search {
    grid-area: search;
}
#search > input {
    width: 80%;
    height: 2em;
    padding-right: 0;
    margin-right: 0;
    padding-left: 5px;
}
#search > button {
    width: 14%;
    height: 2.5em;
    margin-left: -5px;
}
#search > button > i {
    margin-top: -4px;
}
.no-border {
    border: none;
    background-color: white;
}
.signin-button {
    background-color: #167ac6;
    border-radius: 3px;
    color: white;
    padding: 0.8em 1em;
    font-size: 11px;
    font-weight: bold;
    float: right;
}
#nav-right-buttons {
    grid-area: nav-right-buttons;
    align-items: center;
}
#nav-right-buttons > button > i {
    margin-top: 2px;
}

/*The language badge*/
#language {
    margin: 1em 0;
    border: 2px solid #167ac6;
}
#language-top {
    color: white;
    padding: 0.5em 0.75em;
    background-color: #167ac6;
    font-size: 16px;
}
#language-top > button {
    float: right;
    background-color: #167ac6;
    border: none;
    color: white;
}
#language-bottom {
    background-color: white;
    padding: 0.75em 1em;
    font-size: 14px;
}
#language-bottom > a {
    float: right;
}
#user-circle {
    margin-right: 10px;
}

/* Video Content */
#main-content {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "video up-next";
}
#video {
    grid-area: video;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "current"
        "interactive"
        "description"
        "comments";
}
#up-next {
    grid-area: up-next;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
}
.logo {
    padding-left: 15px;
    max-width: 100px;
}
.icon-color {
    color: #999999;
}
.vertical-aligned {
    vertical-align: middle;
}
